.regi-btn{
    background-color: #F4834A;
    border: none;
    padding: 8px 25px;
    width: 40%;
    margin-top: 10px;
}

/* .rgi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
} */